{% extends 'layout/base.html' %}

{% load static %}

{% block title %} &mdash; {{title|capfirst}}{% endblock %}

{% block content %}
 <!-- Page Content -->
    <!-- About Page Starts Here -->
    <div class="about-page">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>О нас</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-image">
              <img src="{% static 'assets/images/about-us.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>Почему нас выбирают?</h4>
              <p>
                Наш ресторан <strong>Chef Burger</strong> приглашает вас на уникальное путешествие в мир невероятных вкусов и изысканных бургеров.
                <br>
                <br>
                Наши повара с любовью к каждой детали создают блюда, которые покоряют ваши вкусовые рецепторы.
                <br>
                <br>Изысканные ингредиенты, свежие продукты и профессиональное мастерство гарантируют неповторимый опыт каждого угощения.
                <br>
                <br>
                <strong>Chef Burger</strong> - это не просто еда, это настоящее кулинарное искусство, воплощенное в каждом бургере. Приготовьтесь к погружению в мир вкуса и наслаждайтесь каждым укусом, который мы создали для вас!
              </p>
              <div class="share">
                <h6>Также ищите нас в социальных сетях: <span><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></span></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Page Ends Here -->
{% endblock %}